<div class="media-card bg-gradient-to-b border-2 border-neutral-800 from-neutral-800 via-neutral-900 to-black rounded-xl overflow-hidden shadow-xl cursor-pointer transform hover:border-primary-500 ease-in-out transition-transform duration-300">
  <div class="relative">
    <img [src]="thumbnail" [alt]="title" class="w-full h-48 object-cover">

    <!-- Badge de tipo
    <div class="absolute top-2 right-2 bg-accent-600/90 text-xs font-bold px-2 py-1 rounded text-white shadow-md">
      {{ type | uppercase }}
    </div> -->

    <!-- Overlay con botón y descripción -->
    <div class="absolute inset-0 bg-gradient-to-t from-black/90 via-black/60 to-transparent opacity-0 hover:opacity-100 transition-opacity duration-300 flex flex-col justify-center items-center p-4">
      <button 
        class="bg-primary-500 hover:bg-primary-400 cursor-pointer rounded-full w-12 h-12 flex items-center justify-center transition-colors duration-300 shadow-lg "
        >
        <fa-icon [icon]="faPlay" class="text-white cursor-pointer"></fa-icon>
      </button>

    </div>
  </div>

  <!-- Contenido inferior -->
  <div class="p-4 bg-neutral-900 rounded-b-xl">
    <h3 class="font-semibold text-white text-base truncate">{{ title }}</h3>
    <div class="flex justify-between items-center mt-2">
      <p class="text-xs text-neutral-300 mt-1 text-center line-clamp-3" *ngIf="duration && +duration > 0" >
        {{ duration | number:'1.0-0' }} Minutos
      </p>
      <p class="text-xs text-neutral-300 mt-1 text-center line-clamp-3" *ngIf="seasons > 0">{{seasons}} temporadas</p>
      <p class="text-xs text-neutral-400">{{ date }}</p>
    </div>
  </div>
</div>
