    <!-- Logo y Título -->
    <div class="text-center">
        <div class="relative mx-auto h-20 w-20 mb-2">
          <div class="absolute inset-0 rounded-full bg-gradient-to-tr from-primary-600 to-accent-500 opacity-20 blur-xl"></div>
          <img class="relative h-full w-full rounded-full bg-neutral-800 border border-neutral-500 p-1" src="Logo.png" alt="Logo">
        </div>
        <h2 class="mt-4 text-3xl font-extrabold tracking-tight text-transparent bg-clip-text bg-gradient-to-r from-primary-600 to-accent-500 font-tektur">CineCloud</h2>
        <p class="mt-2 text-sm text-neutral-400">
          Accede a tu mundo de entretenimiento favorito
        </p>
      </div>
      