<div class="bg-neutral-900 min-h-screen p-4 flex flex-col justify-center items-center">
  <!-- Horizontal video container with scroll snap -->
  <div #videoContainer class="horizontal-scroll w-full overflow-x-visible flex justify-center">
    <div class="flex items-center">
      <div
        *ngFor="let video of videos; let i = index"
        #videoItem
        class="video-item cursor-pointer flex-shrink-0 w-64 transition-all duration-500"
        (click)="selectVideo(video, i)"
      >
        <img
          [src]="video.thumbnail"
          [alt]="video.name"
          class="w-full h-48 aspect-video rounded-lg opacity-70 hover:opacity-100"
        />
      </div>
    </div>
  </div>

  <div *ngIf="selectedVideo" class="flex justify-center space-x-4 mt-8 transition-all duration-300">
    <button
      class="bg-primary-600 text-white px-6 py-3 rounded-lg hover:bg-primary-500 flex items-center space-x-2"
      (click)="handleTypeSelection(selectedVideo, 'movie')"
    >
      <fa-icon [icon]="faFilm" class="mr-1"></fa-icon>
      Película
    </button>
    <button
      class="bg-secondary-600 text-white px-6 py-3 rounded-lg hover:bg-secondary-500 flex items-center space-x-2"
      (click)="handleTypeSelection(selectedVideo, 'series')"
    >
      <fa-icon [icon]="faTv" class="mr-1"></fa-icon>
      Serie
    </button>
  </div>

  <!-- Series Configuration Modal -->
  <div
    *ngIf="seriesDetails"
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
  >
    <div class="bg-neutral-800 p-8 rounded-2xl shadow-2xl text-center w-full max-w-2xl mx-4">
      <h3 class="text-2xl font-bold mb-6 text-white">Configurar Serie</h3>
      <div class="space-y-4">
        <div>
          <label class="block text-white mb-2">Nombre de la Serie</label>
          <input
            type="text"
            [(ngModel)]="seriesDetails.name"
            class="w-full p-2 rounded bg-neutral-700 text-white"
          />
        </div>
        <div>
          <label class="block text-white mb-2">Temporada</label>
          <input
            type="number"
            [(ngModel)]="seriesDetails.season"
            class="w-full p-2 rounded bg-neutral-700 text-white"
          />
        </div>
        <div class="flex justify-between mt-6">
          <button
            (click)="handleAddToSeries()"
            class="bg-primary-600 text-white p-2 rounded hover:bg-primary-500"
          >
            Añadir Capítulo
          </button>
          <button
            (click)="seriesDetails = null"
            class="bg-neutral-600 text-white p-2 rounded hover:bg-neutral-500"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>