<div class="relative">
    <!-- Flecha izquierda -->
    <button 
      *ngIf="currentIndex > 0"
      (click)="scroll(-1)" 
      class="absolute left-0 top-1/2 transform -translate-y-1/2 cursor-pointer bg-neutral-900 bg-opacity-50 text-white rounded-full p-2 z-10">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
    </button>
    
    <!-- Carousel  -->
    <div #carouselContainer class="overflow-x-hidden overflow-y-hidden relative">
      <div 
        #carouselSlider
        class="flex transition-transform duration-300 ease-in-out" 
        [style.transform]="'translateX(' + (-currentIndex * itemWidth) + 'px)'">
        <div 
          *ngFor="let item of items" 
          class="px-2 flex-shrink-0" 
          [style.width.px]="itemWidth">
          <a routerLink="/{{itemType}}/{{item.id}}">
            <app-media-card
              [id]="item.id"
              [thumbnail]="item.imagen"
              [title]="item.titulo"
              [description]="item.descripcion"
              [seasons]="item.temporadas"
              [date]="item.fecha_estreno"
              [duration]="item.duracion"
              [type]="itemType"
              class="h-full rounded-lg overflow-hidden shadow-md hover:shadow-xl transform transition duration-300">
            </app-media-card>
          </a>
        </div>
      </div>
    </div>
    
    <!-- Flecha derecha -->
    <button 
      *ngIf="currentIndex < maxIndex"
      (click)="scroll(1)" 
      class="absolute right-0 cursor-pointer top-1/2 transform -translate-y-1/2 bg-neutral-900 bg-opacity-50 text-white rounded-full p-2 z-10">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </button>
    
    <!-- Puntos -->
    <div *ngIf="pages > 1" class="flex justify-center mt-4">
      <div 
        *ngFor="let dot of getDots(); let i = index" 
        (click)="goToPage(i)"
        class="w-2 h-2 mx-1 rounded-full cursor-pointer"
        [ngClass]="{'bg-primary-600': currentPage === i, 'bg-neutral-300': currentPage !== i}">
      </div>
    </div>
  </div>